<h1>Pharmaceutical registry</h1>
<div *ngIf="loginService.getProfile() == '200'">
	<p>User logged with profile {{ loginService.getProfile() }}.</p>
	<button (click)="listProducts()">get products</button>
	
	<ag-grid-angular 
		style="width: 700px; height: 200px;"
		class="ag-theme-balham"
		[rowData]="products"
		[columnDefs]="pharmaRegistryGridConfig">
	</ag-grid-angular>
	<input type="text" placeholder="id" [(ngModel)]="this.id">
	<p>{{ id }}</p>
	<input type="text" placeholder="code" [(ngModel)]="this.cod">
	<p>{{ cod }}</p>
	<input type="text" placeholder="description" [(ngModel)]="this.des">
	<p>{{ des }}</p>

	<button (click)="setProduct()">setProduct</button>
</div>

