<div *ngIf="loginService.getProfile() == '200'">
	<nav
	class="second-nav">
		<h1>
			{{ 'Pharmaceutical registry' | translate }}
		</h1>
		
		<button
		mat-mini-fab
		matTooltip="{{ 'Add product' | translate }}" 
		color="primary"
		(click)="openAddProductDialog()">
			<i class="material-icons">playlist_add</i>
		</button>
	</nav>

	<ag-grid-angular 
		class="ag-theme-material ag-grid-table"
		[getRowId]="getRowId"
		[rowData]="this.products"
		[columnDefs]="pharmaRegistryGridConfig"
		[defaultColDef]="defaultColDef"
		[gridOptions]="gridOptions"
		[animateRows]="true"
		[alwaysShowHorizontalScroll]="true"
		[alwaysShowVerticalScroll]="true"
		[localeText]="localeText"
		(columnResized)="saveColumnState()"
		(columnVisible)="saveColumnState()"
		(columnPivotChanged)="saveColumnState()"
		(columnRowGroupChanged)="saveColumnState()"
		(columnValueChanged)="saveColumnState()"
		(columnMoved)="saveColumnState()"
		(columnPinned)="saveColumnState()"
		(firstDataRendered)="onFirstDataRendered($event)">
		<!--rimosso (gridReady)="onGridReady($event)"-->
	</ag-grid-angular>
</div>
