<div
*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'">
	<nav
	class="second-nav">
		<h1>
			{{ "Orders" | translate }}
		</h1>
		
		<button
		*ngIf="(!loading && !isDateLocked) || loginService.getUserCode() == '220'"
		mat-mini-fab
		matTooltip="{{ 'Add order' | translate }}" 
		color="primary"
		(click)="openAddOrderDialog(false)">
			<i class="material-icons">playlist_add</i>
		</button>

		<button 
		*ngIf="!loading && isDateLocked && loginService.getUserCode() != '220'"
		mat-mini-fab
		matTooltip="{{ 'Add extra order' | translate }}"
		color="accent"
		(click)="openAddOrderDialog(true)">
			<i class="material-icons">playlist_add</i>
		</button>

		<button 
		*ngIf="!loading"
		mat-mini-fab
		matTooltip="{{ 'Orders resume' | translate }}"
		class="resume"
		style="background-color: #1D6F42;"
		routerLink="/orders/resume">
			<i class="material-icons">grid_on</i>
		</button>

		<button 
		mat-mini-fab
		matTooltip="{{ 'Refresh' | translate }}" 
		color="basic"
		(click)="listOrders(year, month)">
			<i class="material-icons">refresh</i>
		</button>
		
		<p
		style="margin: 5px;">
			{{ 'Reference year' | translate }}:
		</p>
		<input 
		matInput 
		type="number"
		placeholder="{{ 'Reference year' | translate }}" 
		[(ngModel)]="year" 
		style="width: 50px;" 
		(change)="listOrders(year, month)">

		<p
		style="margin: 5px;">
			{{ 'Reference month' | translate }}:
		</p>
		<input 
		matInput 
		type="number"
		placeholder="{{ 'Reference month' | translate }}" 
		[(ngModel)]="month" 
		style="width: 50px;" 
		(change)="listOrders(year, month)"
		(keyup)="checkMonth()">
	</nav>


	<ag-grid-angular
		class="ag-theme-material ag-grid-table"
		[rowData]="orderGridRowData"
		[columnDefs]="ordersGridConfig"
		[defaultColDef]="defaultColDef"
		[alwaysShowHorizontalScroll]="true"
		[gridOptions]="gridOptions"
		[localeText]="localeText"
		(columnResized)="saveColumnState()"
		(columnVisible)="saveColumnState()"
		(columnPivotChanged)="saveColumnState()"
		(columnRowGroupChanged)="saveColumnState()"
		(columnValueChanged)="saveColumnState()"
		(columnMoved)="saveColumnState()"
		(columnPinned)="saveColumnState()"
		(gridReady)="onGridReady($event)"
		(firstDataRendered)="onFirstDataRendered($event)"
		[getRowId]="getRowId"
		[animateRows]="true">
		<!--rimosso (gridReady)="onGridReady($event)"-->
	</ag-grid-angular>
</div>