<button 
    mat-mini-fab
    color="primary"
    *ngIf="this.data.status == 'inviato'"
    class="mat-elevation-z0"
    matTooltip="{{ 'Edit' | translate }}"
    (click)="openEditOrderDialog($event)">
        <i class="material-icons">edit</i>
</button>
<!--cambiata condizione *ngIf="!isLocked", anche sotto-->
<button 
    mat-mini-fab
    color="basic"
    *ngIf="this.data.status != 'inviato'" 
    class="mat-elevation-z0"
    matTooltip="{{ 'View' | translate }}"
    (click)="openEditOrderDialog($event)">
        <i class="material-icons">remove_red_eye</i>
</button>