<div 
layout="row" 
layout-align="center" 
align="center"
style="margin: 10%;">
<mat-card
style="width: fit-content;">
	<h1>Login</h1>
	<p>
		<mat-form-field>
			<input 
			type="text" 
			placeholder="Username" 
			[(ngModel)]="username" 
			(click)="onClick()" 
			(keyup.enter)="login(username, password)"
			matInput>
		</mat-form-field>
	</p>
	
	<p>
		<mat-form-field>
			<input 
			type="password" 
			placeholder="Password" 
			[(ngModel)]="password" 
			(keyup.enter)="login(username, password)"
			matInput>
		</mat-form-field>
	</p>

	<p *ngIf="isBadLogin" style="color: red;">
		{{ 'Incorrect username and\/or password' | translate }}!
	</p>

	<button mat-raised-button color="primary" (click)="login(username, password)">
		{{ 'Login' | translate }}
	</button>
</mat-card>
</div>