<div>
    <h2>Edit date</h2>
    <!--sangueadmin in PharmaRegistry-->
    <mat-form-field 
    *ngIf="loginService.getUserCode() == '200'"
    appearance="fill">
        <mat-label>{{ 'Edit date' | translate }}</mat-label>
        <input 
        matInput 
        [value]="date.value"
        [matDatepicker]="picker"
        (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!--sangueasl in OrdersComponent-->
    <mat-form-field 
    *ngIf="loginService.getUserCode() == '210' && !data.isOrderDate"
    appearance="fill">
        <mat-label>{{ 'Edit date' | translate }}</mat-label>
        <input 
        matInput 
        [matDatepicker]="picker" 
        [value]="date.value"
        [min]="minDate"
        (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <!--sangueasl in OrdersComponent-->
    <mat-form-field
    *ngIf="loginService.getUserCode() == '210' && data.isOrderDate"
    appearance="fill">
        <mat-label>{{ 'Edit date' | translate }}</mat-label>
        <input 
        matInput 
        [matDatepicker]="picker" 
        [value]="date.value"
        [min]="minDate"
        [max]="maxDate"
        (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field
    *ngIf="loginService.getUserCode() == '220' && data.isOrderDate"         
    appearance="fill">
        <mat-label>{{ 'Edit date' | translate }}</mat-label>
        <input 
        matInput 
        [matDatepicker]="picker" 
        [value]="date.value"
        (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field
    *ngIf="loginService.getUserCode() == '220' && data.isValidationDate"
    appearance="fill">
        <mat-label>{{ 'Edit date' | translate }}</mat-label>
        <input 
        matInput 
        [matDatepicker]="picker" 
        [value]="date.value"
        (dateChange)="onDateChange($event)">
        <!--mat-hint>MM/DD/YYYY</mat-hint-->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field 
    *ngIf="loginService.getUserCode() == '230'"
    appearance="fill">
        <mat-label>{{ 'Edit date' | translate }}</mat-label>
        <input 
        matInput 
        [value]="date.value"
        [matDatepicker]="picker"
        (dateChange)="onDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div mat-dialog-actions align="center">
        <button 
        mat-mini-fab 
        color="primary" 
        matTooltip="{{ 'Submit' | translate }}"
        (click)="onSubmit()">
            <i class="material-icons">check</i>
        </button>
        <button 
        mat-mini-fab
        color="accent"
        matTooltip="{{ 'Cancel' | translate }}" 
        mat-dialog-close>
            <i class="material-icons">close</i>
        </button>
    </div>
</div>