<div *ngIf="(loginService.getProfile() == '210' || loginService.getProfile() == '220')">
	<h1>{{ 'Forecast registry' | translate }}</h1>
	<div align="center">
		<button 
		mat-raised-button 
		color="primary" 
		style="width: 90%;" 
		(click)="openAddForecastDialog()">
			{{ 'Add forecast' | translate }}
		</button>
		<div align="center" style=" padding: 10px; margin: 5px;">
			<p>{{ 'Reference year' | translate }}:</p>
			<input 
			matInput
			type="number" 
			placeholder="{{'Year' | translate}}" 
			[(ngModel)]="year" 
			(change)="listForecasts(year)" 
			style="width: 50%;">
		</div>

		<button 
		mat-raised-button 
		(click)="listForecasts(year)" 
		style="width: 90%;">
			{{ 'List' | translate }}
		</button>
	</div>
	<ag-grid-angular 
		style="width: 100%; height: 400px;"
		class="ag-theme-balham"
		[rowData]="forecastGridRowData"
		[columnDefs]="forecastGridConfig"
		[defaultColDef]="defaultColDef"
		[gridOptions]="gridOptions"
		>
	</ag-grid-angular>
</div>