<div *ngIf="(loginService.getProfile() == '210' || loginService.getProfile() == '220')">
	<nav
	class="second-nav">
		<h1>
			{{ "Forecast registry" | translate }}
		</h1>
		
		<button
		mat-mini-fab
		matTooltip="{{ 'Add forecast' | translate }}" 
		color="primary"
		(click)="openAddForecastDialog()">
			<i class="material-icons">playlist_add</i>
		</button>
	
		<button 
		mat-mini-fab
		matTooltip="{{ 'Refresh' | translate }}" 
		color="basic"
		(click)="listForecasts(year)">
			<i class="material-icons">refresh</i>
		</button>
	
		<input 
		matInput 
		type="number"
		placeholder="{{ 'Reference year' | translate }}" 
		[(ngModel)]="year" 
		style="width: 50px;" 
		(change)="listForecasts(year)">
	</nav>

	<mat-progress-bar 
	*ngIf="!isLoading" mode="determinate" value="0"></mat-progress-bar>
	<mat-progress-bar 
	*ngIf="isLoading" 
	mode="indeterminate"></mat-progress-bar>

	<ag-grid-angular
		class="ag-theme-material  ag-grid-table"
		[getRowId]="getRowId"
		[rowData]="forecastGridRowData"
		[columnDefs]="forecastGridConfig"
		[defaultColDef]="defaultColDef"
		[alwaysShowHorizontalScroll]="true"
		[alwaysShowVerticalScroll]="true"
		[gridOptions]="gridOptions"
		[localeText]="localeText"
		[animateRows]="true"
		(columnResized)="saveColumnState()"
		(columnVisible)="saveColumnState()"
		(columnPivotChanged)="saveColumnState()"
		(columnRowGroupChanged)="saveColumnState()"
		(columnValueChanged)="saveColumnState()"
		(columnMoved)="saveColumnState()"
		(columnPinned)="saveColumnState()"
		(gridReady)="onGridReady($event)"
		(firstDataRendered)="onFirstDataRendered($event)">
	</ag-grid-angular>
</div>