<h3 *ngIf="orderRow.id == ''" mat-dialog-title>{{ 'Add order row' | translate }}</h3>
<h3 *ngIf="orderRow.id != ''" mat-dialog-title>{{ 'Edit order row' | translate }}</h3>

<div mat-dialog-content>

	<!--mat-form-field 
	*ngIf="false"
	class="example-full-width">
		<mat-label>{{ 'User' | translate }}</mat-label>
		<input type="text"
		placeholder="Pick one"
		aria-label="Number"
		matInput
		[formControl]="usersFormControl"
		[matAutocomplete]="autoU">
		<mat-autocomplete 
		autoActiveFirstOption 
		#autoU="matAutocomplete">
			<mat-option
			*ngFor="let optionU of filteredUserOptions | async" 
			[value]="optionU"
			(onSelectionChange)='onUserSelected($event)'>
				{{optionU}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field-->
<form>
	<mat-form-field class="example-full-width">
		<mat-label>{{ 'Product' | translate }}</mat-label>
		<input type="text"
		placeholder="{{'Choose a product' | translate}}"
		matInput
		[formControl]="productsFormControl"
		[matAutocomplete]="autoP"
		(keyup)="checkFields($event)">
		<mat-autocomplete 
		autoActiveFirstOption
		#autoP="matAutocomplete">
			<mat-option 
			*ngFor="let optionP of filteredProductOptions | async" 
			[value]="optionP" 
			(onSelectionChange)='onProductSelected($event)'>
				{{optionP}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>

	<mat-form-field>
		<input
		placeholder="{{ 'Row number' | translate }}"
		[formControl]="n_riga"
		matInput
		(keyup)="checkFields($event)"
		type="number">
	</mat-form-field>

	<mat-form-field
	*ngIf="qtyThreshold != -1">
		<input
		placeholder="{{ 'Quantity' | translate }} (max: {{qtyThreshold}})"
		[formControl]="qta"
		matInput
		(blur)="onBlur($event)"
		(keyup)="checkFields($event)"
		type="number">
	</mat-form-field>

	<mat-form-field
	*ngIf="qtyThreshold == -1">
		<input
		placeholder="{{ 'Quantity' | translate }}"
		[formControl]="qta"
		matInput
		(blur)="onBlur($event)"
		(keyup)="checkFields($event)"
		type="number">
	</mat-form-field>

	<mat-form-field
	*ngIf="isMotivazioneVisible">	
		<input
		#motivazioneInput
		placeholder="{{ 'Reason' | translate }}"
		[formControl]="motivazione"
		matInput
		(keyup)="checkFields($event)"
		type="text"
		(focus)="true">
	</mat-form-field>


	<mat-form-field
	*ngIf="loginService.getUserCode() == '220'">
		<input
		placeholder="{{ 'Validated quantity' | translate }}"
		[formControl]="qta_validata"
		matInput
		type="number">
	</mat-form-field>

	<mat-form-field>
		<input
		placeholder="{{ 'Notes' | translate }}"
		[formControl]="note"
		matInput
		type="text">
	</mat-form-field>
</form>
</div>

<div mat-dialog-actions align="center">
    <button 
	mat-raised-button 
	[disabled]="!isSubmitEnabled"
	color="primary" 
	(click)="onSubmit()">
		{{ 'Submit' | translate }}
	</button>
    
	<button 
	mat-raised-button 
	matDialogClose="true" 
	color="warn">
		{{ 'Cancel' | translate }}
	</button>
</div>