<h3 mat-dialog-title>{{ 'Add/create order row' | translate }}</h3>

<div mat-dialog-content>
	<!--p>
		<mat-form-field>
			<input
			placeholder="Username"
			[formControl]="username"
			matInput>
		</mat-form-field>
	</p-->
    <p>
		<mat-form-field>
			<input
			placeholder="{{ 'Row number' | translate }}"
			[formControl]="n_riga"
			matInput>
		</mat-form-field>
	</p>
	
	<!--TODO: this will be a dropdown-->
    <p>
		<mat-form-field>
			<input
			placeholder="{{ 'Product ID' | translate }}"
			[formControl]="id_prd"
			matInput>
		</mat-form-field>
	</p>
    <p>
		<mat-form-field>
			<input
			placeholder="{{ 'Quantity' | translate }}"
            type="number"
			[formControl]="qta"
			matInput>
		</mat-form-field>
	</p>
    <p>
		<mat-form-field>
			<input
			placeholder="{{ 'Validated quantity' | translate }}"
			[formControl]="qta_validata"
			matInput>
		</mat-form-field>
	</p>
    <p>
		<mat-form-field>
			<input
            type="textarea"
			placeholder="{{ 'Notes' | translate }}"
			[formControl]="note"
			matInput>
		</mat-form-field>
	</p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onSubmit()">{{ 'Submit' | translate }}</button>
    <button mat-raised-button matDialogClose="true" color="primary">{{ 'Cancel' | translate }}</button>
</div>