<h3 mat-dialog-title>Add a new forecast</h3>

<div mat-dialog-content>
	<p>
		<input type="text" placeholder="New year" [(ngModel)]="anno">
	</p>
	<p>
		<input type="text" placeholder="New username" [(ngModel)]="username">
	</p>
	<p>
		<input type="text" placeholder="New product id" [(ngModel)]="id_prd">
	</p>
    <p>
		<input type="text" placeholder="New quantity" [(ngModel)]="qta">
	</p>
    <p>
		<input type="text" placeholder="New notes" [(ngModel)]="note">
	</p>
</div>

<div mat-dialog-actions>
	<button mat-raised-button (click)="onSubmit()">Submit</button>
	<button mat-raised-button mat-dialog-close color="primary">Cancel</button>
</div>