<div>
	<h2 mat-dialog-title>{{ 'Add a new forecast' | translate }}</h2>

	<div mat-dialog-content>
		<mat-form-field>
			<input
			placeholder="{{ 'Year' | translate }}"
			[formControl]="anno"
			type="number"
			matInput>
		</mat-form-field>
		<br>
		
		<!--autocomplete dropdown for USERS-->
		<mat-form-field
		*ngIf="loginService.getUserCode()=='220'">
			<input 
			type="text"
			placeholder="{{ 'User' | translate }}"
			matInput
			[formControl]="userFormControl"
			[matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete">
				<mat-option *ngFor="let optionU of filteredUsers | async" [value]="optionU" (onSelectionChange)='onUserSelected($event)'>
					{{ optionU }}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<!--autocomplete dropdown for PRODUCTS-->
		<mat-form-field>
			<input 
			type="text"
			placeholder="{{ 'Product' | translate }}"
			matInput
			[formControl]="productFormControl"
			[matAutocomplete]="auto">
			<mat-autocomplete #auto="matAutocomplete">
			<mat-option *ngFor="let optionP of filteredProducts | async" [value]="optionP" (onSelectionChange)='onProductSelected($event)'>
				{{ optionP }}
			</mat-option>
			</mat-autocomplete>
		</mat-form-field>

		<mat-form-field>
			<input
			type="number"
			placeholder="{{ 'Quantity' | translate }}"
			[formControl]="qta"
			matInput>
		</mat-form-field>

		<mat-form-field *ngIf="loginService.getUserCode() == '220'">
			<input
			type="number"
			placeholder="{{ 'Approved quantity' | translate }}"
			[formControl]="qta_approvata"
			matInput>
		</mat-form-field>

		<mat-form-field *ngIf="loginService.getUserCode() == '220'">
			<input
			type="number"
			placeholder="{{ 'Cost per unit' | translate }}"
			[formControl]="costo_unitario"
			matInput>
		</mat-form-field>

		<mat-form-field>
			<textarea
			placeholder="{{ 'Notes' | translate }}"
			[formControl]="note"
			matInput></textarea>
		</mat-form-field>
	</div>

	<div mat-dialog-actions align="center">
		<p 
		*ngIf="isBadForecast"
		style="color: red;">
			{{ 'Some compulsory fields are either empty or invalid' | translate }}!
		</p>
		<br>
		<button mat-raised-button (click)="onSubmit()">{{ 'Submit' | translate }}</button>
		<button mat-raised-button mat-dialog-close color="primary">{{ 'Cancel' | translate }}</button>
	</div>
</div>