<h3 mat-dialog-title>{{ 'Add a new product' | translate }}</h3>

<div mat-dialog-content>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Code' | translate }}"
			[formControl]="cod"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="text"
			placeholder="{{ 'Description' | translate }}"
			[formControl]="des"
			matInput>
	</mat-form-field>
	<mat-form-field>
		<input
			type="text"
			placeholder="{{ 'Sorting' | translate }}"
			[formControl]="ord"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Units' | translate }}"
			[formControl]="unita"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="text"
			placeholder="{{ 'Packaging' | translate }}"
			[formControl]="confezionamento"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Multiple Packaging' | translate }}"
			[formControl]="multiplo_confezionamento"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Multiple Packing' | translate }}"
			[formControl]="multiplo_imballo"
			matInput>
	</mat-form-field>
	
	<mat-checkbox 
		labelPosition="before"
		(click)="toggleAttivo()">
		{{ 'Attivo' | translate }}
	</mat-checkbox>
	
	<mat-checkbox 
		labelPosition="before"
		(click)="toggleExtra()">
		{{ 'Extra' | translate }}
	</mat-checkbox>
	
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Minimum Order' | translate }}"
			[formControl]="min_ord"
			matInput>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>{{ 'Validity' | translate }}</mat-label>
		<mat-date-range-input [formGroup]="range" [rangePicker]="picker">
		  <input matStartDate formControlName="start" placeholder="{{ 'Valid from' | translate }}">
		  <input matEndDate formControlName="end" placeholder="{{ 'Valid through' | translate }}">
		</mat-date-range-input>
		<mat-hint>{{ 'Valid from' | translate }} – {{ 'Valid through' | translate }}</mat-hint>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-date-range-picker #picker> </mat-date-range-picker>  
	</mat-form-field>
</div>

<div mat-dialog-actions align="center">
	<button 
	mat-mini-fab
	color="primary" 
	matTooltip="{{ 'Submit' | translate }}"
	(click)="onSubmit()">
		<i class="material-icons">check</i>
	</button>
	
	<button 
	mat-mini-fab 
	mat-dialog-close
	matTooltip="{{ 'Cancel' | translate }}" 
	color="accent">
		<i class="material-icons">close</i>
	</button>
</div>