<h3 mat-dialog-title>Add a new product</h3>

<div mat-dialog-content>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Code' | translate }}"
			[formControl]="cod"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="text"
			placeholder="{{ 'Description' | translate }}"
			[formControl]="des"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Units' | translate }}"
			[formControl]="unita"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="text"
			placeholder="{{ 'Packaging' | translate }}"
			[formControl]="confezionamento"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Multiple Packaging' | translate }}"
			[formControl]="multiplo_confezionamento"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Multiple Packing | translate }}"
			[formControl]="multiplo_imballo"
			matInput>
	</mat-form-field>
	<br>
	<mat-checkbox 
		labelPosition="before"
		(click)="toggleAttivo()">
		{{ 'Attivo' | translate }}
	</mat-checkbox>
	<br>
	<mat-checkbox 
		labelPosition="before"
		(click)="toggleExtra()">
		{{ 'Extra' | translate }}
	</mat-checkbox>
	<br>
	<mat-form-field>
		<input
			type="number"
			placeholder="{{ 'Minimum Order' | translate }}"
			[formControl]="min_ord"
			matInput>
	</mat-form-field>
	<br>
	<mat-form-field appearance="fill">
		<mat-label>Validità</mat-label>
		<mat-date-range-input [formGroup]="range" [rangePicker]="picker">
		  <input matStartDate formControlName="start" placeholder="{{ 'Valid from' | translate }}">
		  <input matEndDate formControlName="end" placeholder="{{ 'Valid through' | translate }}">
		</mat-date-range-input>
		<mat-hint>{{ 'Valid from' | translate }} – {{ 'Valid through' | translate }}</mat-hint>
		<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
		<mat-date-range-picker #picker> </mat-date-range-picker>  
	</mat-form-field>
</div>

<div mat-dialog-actions>
	<button mat-raised-button (click)="onSubmit()">{{ 'Submit' | translate }}</button>
	<button mat-raised-button mat-dialog-close color="primary">{{ 'Cancel' | translate }}</button>
</div>