
<header>
	<img src="https://ecwmed.asl.novara.it/img/loghi/ico_asl_piemonte_NO.jpg"/>
</header>

<nav>
	<button mat-button [matMenuTriggerFor]="menu"> {{ 'Menu' | translate }}</button>
	<mat-menu #menu="matMenu">
		<button 
		mat-menu-item
		[routerLink]="['']">
			{{ 'Home' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="!loginService.logged"
		[routerLink]="['/login']">
			{{ 'Login' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="loginService.logged" 
		[routerLink]="['/welcome']">
			{{ 'Welcome' | translate }}
		</button>
		<button
		mat-menu-item 
		*ngIf="loginService.logged && loginService.getProfile() == '200'"
		[routerLink]="['/pharma-registry']">
			{{ 'Registry' | translate }}
		</button>
		<button 
		mat-menu-item *ngIf="loginService.logged && loginService.getProfile() == '210' || loginService.getProfile() == '220'"
		[routerLink]="['/forecast']">
			{{ 'Forecast' | translate }}
		</button>
		<button 
		mat-menu-item
		*ngIf="loginService.logged && loginService.getProfile() == '210' || loginService.getProfile() == '220'"
		[routerLink]="['/orders']">
			{{ 'Orders' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="loginService.logged" 
		(click)="loginService.logout()"
		[routerLink]="['']">
			{{ 'Logout' | translate }}
		</button>
	</mat-menu>	
</nav>


<router-outlet></router-outlet>


<footer>
	<p *ngIf="loginService.logged">
		{{ 'Logged as' | translate }} <b>{{ loginService.getUserType() }}</b>.
	</p>
	<p *ngIf="!loginService.logged">
		{{ 'You\'re not logged!' | translate }} <a [routerLink]="['/login']">{{ 'Login' | translate }}</a>
	</p>	
</footer>


