
<header>
	<img src="https://ecwmed.asl.novara.it/img/loghi/ico_asl_piemonte_NO.jpg"/>
</header>

<nav>
	<button 
	mat-button 
	[matMenuTriggerFor]="menu"
	> 
		{{ 'Menu' | translate }}
	</button>
	<mat-menu #menu="matMenu">
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() == null"
		[routerLink]="['/login']">
			{{ 'Login' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() != null"
		[routerLink]="['/home']">
			{{ 'Home' | translate }}
		</button>
		<button
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '200'"
		[routerLink]="['/pharma-registry']">
			{{ 'Registry' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'"
		[routerLink]="['/forecast']">
			{{ 'Forecast' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '230'"
		[routerLink]="['/supplies']">
			{{ 'Supplies' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() != null"
		(click)="loginService.logout()"
		[routerLink]="['']">
			{{ 'Logout' | translate }}
		</button>
	</mat-menu>	
	
	<button 
	*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'"
	mat-button 
	[matMenuTriggerFor]="orders"
	> 
		{{ 'Orders' | translate }}
	</button>
	<mat-menu #orders="matMenu">
		<button 
		mat-menu-item
		[routerLink]="['/orders']">
			{{ 'Orders' | translate }}
		</button>

		<button 
		*ngIf="loginService.getUserCode() == '220'"
		mat-menu-item
		[routerLink]="['/order-period']">
			{{ 'Orderable period' | translate }}
		</button>
	</mat-menu>	

	<button 
	*ngIf="loginService.getUserCode() != null"
	mat-button 
	[matMenuTriggerFor]="extractions"
	> {{ 'Extractions' | translate }}</button>
	<mat-menu #extractions="matMenu">
		<button 
		mat-menu-item
		>
			{{ 'Report 1' | translate }}
		</button>
		<button 
		mat-menu-item 
		>
			{{ 'Report 2' | translate }}
		</button>
	</mat-menu>	
</nav>


<router-outlet></router-outlet>


<footer>
	<p *ngIf="loginService.getUsername() != null">
		{{ 'Logged as' | translate }} <b>{{ localStorage.getItem("sangue_username") }}</b>.
	</p>
	<p *ngIf="loginService.getUsername() == null">
		{{ 'You\'re not logged!' | translate }} <a [routerLink]="['/login']">{{ 'Login' | translate }}</a>
	</p>	
</footer>


