
<!--header>
	<img src="https://ecwmed.asl.novara.it/img/loghi/ico_asl_piemonte_NO.jpg"/>
</header-->

<nav
style="display: flex; flex-direction: row;">

	<img src="https://ecwmed.asl.novara.it/img/loghi/ico_asl_piemonte_NO.jpg"/>

	<button 
	*ngIf="loginService.getUsername() != null"
	mat-button 
	[matMenuTriggerFor]="menu"
	> 
		{{ 'Menu' | translate }}
	</button>
	<mat-menu #menu="matMenu">
		<!--button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() == null"
		[routerLink]="['/login']">
			{{ 'Login' | translate }}
		</button-->
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() != null"
		[routerLink]="['/home']">
			{{ 'Home' | translate }}
		</button>
		<button
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '200'"
		[routerLink]="['/pharma-registry']">
			{{ 'Registry' | translate }}
		</button>
		<!--button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'"
		[routerLink]="['/forecast']">
			{{ 'Forecast' | translate }}
		</button-->
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '230'"
		[routerLink]="['/supplies']">
			{{ 'Supplies' | translate }}
		</button>
		<button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'"
		[routerLink]="['/loans']">
			{{ 'Loans' | translate }}
		</button>
		<!--button 
		mat-menu-item 
		*ngIf="loginService.getUserCode() != null"
		(click)="loginService.logout()"
		[routerLink]="['']">
			{{ 'Logout' | translate }}
		</button-->
		<button
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '200'"
		(click)="getManual(loginService.getUserCode()!)">
			{{ 'Manual' | translate }}
		</button>
		<button
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '210'"
		(click)="getManual(loginService.getUserCode()!)">
			{{ 'Manual' | translate }}
		</button>
		<button
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '220'"
		(click)="getManual(loginService.getUserCode()!)">
			{{ 'Manual' | translate }}
		</button>
		<button
		mat-menu-item 
		*ngIf="loginService.getUserCode() == '230'"
		(click)="getManual(loginService.getUserCode()!)">
			{{ 'Manual' | translate }}
		</button>
	</mat-menu>	

	<button 
	*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'"
	mat-button 
	[matMenuTriggerFor]="forecasts"> 
		{{ 'Forecasts' | translate }}
	</button>
	<mat-menu #forecasts="matMenu">
		<button 
		mat-menu-item
		[routerLink]="['/forecast']">
			{{ 'Forecasts' | translate }}
		</button>

		<button
		*ngIf="loginService.getUserCode() == '220'"
		mat-menu-item
		[routerLink]="['/forecast-report']">
			{{ 'Reports' | translate }}
		</button>
	</mat-menu>	
	
	<button 
	*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'"
	mat-button 
	[matMenuTriggerFor]="orders"
	> 
		{{ 'Orders' | translate }}
	</button>
	<mat-menu #orders="matMenu">
		<button 
		mat-menu-item
		[routerLink]="['/orders']">
			{{ 'Orders' | translate }}
		</button>

		<button 
		*ngIf="loginService.getUserCode() == '220'"
		mat-menu-item
		[routerLink]="['/order-period']">
			{{ 'Orderable period' | translate }}
		</button>
	</mat-menu>	

	<button 
	*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'"
	mat-button 
	[matMenuTriggerFor]="extractions"> 
		{{ 'Extractions' | translate }}
	</button>

	<mat-menu #extractions="matMenu">
		<button 
		mat-menu-item
		routerLink="/orders/resume">
			{{ 'Report xls orders' | translate }}
		</button>
	</mat-menu>	

	<button
	mat-button
	*ngIf="loginService.getUsername() != null"
	[matMenuTriggerFor]="loginMenu">
		<em>{{ 'Logged as' | translate }} <b>{{loginService.currentUser.client}}</b> - username: <b>{{loginService.currentUser.username}}</b></em>
	</button>
	<button 
	mat-button
	*ngIf="loginService.getUsername() == null"
	(click)="router.navigate(['/login'])">
		{{ 'Login' | translate }}
	</button>
	<mat-menu #loginMenu="matMenu" class="venues-menu">
		<button 
		*ngIf="loginService.getUserCode() == '210' && (sharedService.getVenues().length > 0)"
		mat-menu-item 
		[matMenuTriggerFor]="venuesMenu"
		class="venues-menu">
			{{ 'Change venue' | translate }}
		</button>

		<mat-menu #venuesMenu="matMenu" class="venues-menu">
			<button
			*ngFor="let venue of sharedService.getVenues()"
			mat-menu-item
			(click)="changeVenue(venue.client)"
			class="venues-menu" style="min-width: 100%;">
				{{venue.client.split(" - ")[1]}}
			</button>
		</mat-menu>

		<button 
		*ngIf="loginService.getUsername() != null"
		mat-menu-item 
		(click)="loginService.logout()">
			{{ 'Logout' | translate }}
		</button>
	</mat-menu>	
	<p
	*ngIf="loginService.getUsername() != null"
	style="
	position: absolute;
	right: 0; 
	margin: 15px;">
		v{{ localStorage.getItem("version") }}
	</p>
</nav>

<router-outlet></router-outlet>


<!--footer>
	<p 
	*ngIf="loginService.getUsername() != null"
	align="center">
		{{ 'Logged as' | translate }} <b>{{ localStorage.getItem("sangue_username") }}</b>.
	</p>
	<p 
	*ngIf="loginService.getUsername() == null"
	align="center">
		{{ 'You\'re not logged!' | translate }} <a [routerLink]="['/login']">{{ 'Login' | translate }}</a>
	</p>	
</footer-->


