<h2 style="text-align: center;">{{ 'Order' | translate }} {{ data.order.id }} {{ 'placed by user' | translate }} {{ usernameToClient(data.order.username) }}</h2>
<mat-dialog-content class="typography">
    <p
    *ngIf="orderRows.length == 0"
    align="center">
        {{ 'This order does not contain any orderRows and will thus be deleted' | translate }}.
    </p>
    <mat-card *ngFor="let orderRow of orderRows" style="margin-bottom: 20px;">
        <mat-card-title>ID: {{ orderRow.id }}</mat-card-title>
        <h5><b>{{ 'Product' | translate }}:</b> {{ productIdToDes(orderRow.id_prd) }}</h5>
        <h5><b>{{ 'Row number' | translate }}:</b> {{ orderRow.n_riga }}</h5>
        <h5><b>{{ 'Quantity' | translate }}:</b> {{ orderRow.qta }}</h5>
        <h5
        *ngIf="orderRow.motivazione != null && orderRow.motivazione != '' && orderRow.motivazione != undefined">
            <b>{{ 'Reason' | translate }}:</b> {{ orderRow.motivazione }}
        </h5>
        <h5><b>{{ 'Approved quantity' | translate }}:</b> {{ orderRow.qta_validata }}</h5>
        <h5><b>{{ 'Notes' | translate }}:</b> {{ orderRow.note }}</h5>
        <div mat-dialog-actions align="center">
            <button
            *ngIf="!isLocked"
            mat-raised-button 
            color="primary" 
            (click)="openEditOrderRowDialog(orderRow.id, false)">
                {{ 'Edit' | translate }}
            </button>
            <button
            *ngIf="!isLocked"
            mat-raised-button 
            color="warn" 
            (click)="openAreYouSureOrderRowDialog(orderRow.id)">
                {{ 'Delete' | translate }}
            </button>
        </div>
    </mat-card> 
</mat-dialog-content>
<div mat-dialog-actions align="center">
    <button 
    *ngIf="!isLocked && orderRows.length > 0"
    mat-raised-button 
    (click)="openEditOrderRowDialog('', true)">
        {{ 'Add row'  | translate }}
    </button>
    <button 
    *ngIf="!isLocked && orderRows.length > 0"
    mat-raised-button 
    color="warn" 
    (click)="openAreYouSureOrderDialog(data.order.id)">
        {{ 'Delete order' | translate }}
    </button>
    
    <!--se non è bloccato e ci sono orderRows-->
    <button 
    *ngIf="!isLocked && orderRows.length > 0"
    mat-raised-button
    mat-dialog-close 
    color="primary">
        {{ 'Cancel' | translate }}
    </button>

    <!--se è bloccato-->
    <button 
    *ngIf="isLocked"
    mat-raised-button
    mat-dialog-close 
    color="primary">
        {{ 'Close' | translate }}
    </button>

    <!--se non ci sono più orderRows-->
    <button 
    *ngIf="orderRows.length == 0"
    mat-raised-button 
    color="primary" 
    (click)="onClose(data.order.id)">
        {{ 'Ok' | translate }}
    </button>
</div>