<nav
class="second-nav">
	<h1>{{ 'Home' | translate }}</h1>
</nav>
<section>	
	<article
	*ngIf="loginService.getUserCode() != '200' && loginService.getUserCode() != '230'">
		<a [routerLink]="['/forecast']">
			<mat-card>
				<mat-card-title>{{ 'Forecasts' | translate}}</mat-card-title>
				<mat-card-content>{{ 'Forecasts dashboard' | translate}}</mat-card-content>
			</mat-card>
		</a>
	</article>
	
	<article
	*ngIf="loginService.getUserCode() != '200' && loginService.getUserCode() != '230'">
		<a [routerLink]="['/orders']">
			<mat-card>
				<mat-card-title>{{ 'Orders' | translate}}</mat-card-title>
				<mat-card-content>{{ 'Orders dashboard' | translate}}</mat-card-content>
			</mat-card>
		</a>
	</article>

	<article
	*ngIf="loginService.getUserCode() == '210' || loginService.getUserCode() == '220'">
		<a [routerLink]="['/loans']">
			<mat-card>
				<mat-card-title>{{ 'Loans' | translate}}</mat-card-title>
				<mat-card-content>{{ 'Lend a product or view granted and/or received loans' | translate}}</mat-card-content>
			</mat-card>
		</a>
	</article>

	<article
	*ngIf="loginService.getUserCode() == '220'">
		<a [routerLink]="['/order-period']">
			<mat-card>
				<mat-card-title>{{ 'Order period' | translate}}</mat-card-title>
				<mat-card-content>{{ 'Order period management' | translate}}</mat-card-content>
			</mat-card>
		</a>
	</article>

	<article
	*ngIf="loginService.getUserCode() == '200'">
		<a [routerLink]="['/pharma-registry']">
			<mat-card>
				<mat-card-title>{{ 'Pharmaceutical registry' | translate}}</mat-card-title>
				<mat-card-content>{{ 'Products dashboard' | translate}}</mat-card-content>
			</mat-card>
		</a>
	</article>

	<article
	*ngIf="loginService.getUserCode() == '230'">
		<a [routerLink]="['/supplies']">
			<mat-card>
				<mat-card-title>{{ 'Supplies' | translate}}</mat-card-title>
				<mat-card-content>{{ 'Supplies dashboard' | translate}}</mat-card-content>
			</mat-card>
		</a>
	</article>

	<article>
		<a>
			<mat-card
			(click)="loginService.logout()">
				<mat-card-title>{{ 'Logout' | translate}}</mat-card-title>
				<mat-card-content>{{ 'Disconnection' | translate}}</mat-card-content>
			</mat-card>
		</a>
	</article>
</section>

<footer>
	<p 
	*ngIf="loginService.getUsername() != null"
	align="center">
		{{ 'Logged as' | translate }} <b>{{ loginService.currentUser.client }}</b>.
	</p>
	<p 
	*ngIf="loginService.getUsername() == null"
	align="center">
		{{ 'You\'re not logged!' | translate }} <a [routerLink]="['/login']">{{ 'Login' | translate }}</a>
	</p>	
</footer>