<div
*ngIf="loginService.getUserCode() == '230'">
	<nav
	class="second-nav">
		<h1>
			{{ "Supplies" | translate }}
		</h1>

		<button 
		mat-mini-fab
		matTooltip="{{ 'Refresh' | translate }}" 
		color="basic"
		(click)="listOrders(year)">
			<i class="material-icons">refresh</i>
		</button>

		<button
		mat-mini-fab
		matTooltip="{{ 'Orders resume' | translate }}"
		class="resume"
		style="background-color: #1D6F42;"
		routerLink="/resume">
			<i class="material-icons">grid_on</i>
		</button>

		<input 
		matInput 
		type="number"
		placeholder="{{ 'Reference year' | translate }}" 
		[(ngModel)]="year" 
		style="width: 50px;" 
		(change)="listOrders(year)">
	</nav>

		
	<ag-grid-angular
		class="ag-theme-material ag-grid-table"
		[rowData]="supplyGridRowData"
		[columnDefs]="suppliesGridConfig"
		[alwaysShowHorizontalScroll]="true"
		[alwaysShowVerticalScroll]="false"
		[defaultColDef]="defaultColDef"
		[gridOptions]="gridOptions"
		[localeText]="localeText"
		(gridReady)="onGridReady($event)"
		(columnResized)="saveColumnState()"
		(columnVisible)="saveColumnState()"
		(columnPivotChanged)="saveColumnState()"
		(columnRowGroupChanged)="saveColumnState()"
		(columnValueChanged)="saveColumnState()"
		(columnMoved)="saveColumnState()"
		(columnPinned)="saveColumnState()"
		[getRowId]="getRowId"
		[animateRows]="true"
		(firstDataRendered)="onFirstDataRendered($event)">
		<!--to see flashing cells, add [enableCellChangeFlash]="true"-->
	</ag-grid-angular>
</div>