<div>
    <h1>{{ 'Supplies' | translate }}</h1>

	<p
	*ngIf="isLoading"
	align="center">
		<mat-spinner></mat-spinner>
	</p>
	<h2 
	*ngIf="isLoading"
	align="center">
		{{ 'Loading' | translate }}...
	</h2>
	
	<div 
	*ngIf="!isLoading">
		<div align="center" style=" padding: 10px; margin: 5px;">
			<p>{{ 'Reference year' | translate }}:</p>
			<input 
			matInput 
			type="number"
			placeholder="{{ 'Reference year' | translate }}" 
			[(ngModel)]="year" 
			style="width: 50%;" 
			(change)="listOrders(year)">
		</div>
		
		<button 
		mat-raised-button 
		color="primary"
		(click)="listOrders(year)" 
		style="width: 90%; margin: 15px;">
			{{ 'List orders' | translate }}
		</button>
		
		<ag-grid-angular 
			style="width: 100%; height: 100vh;"
			class="ag-theme-material"
			[rowData]="supplyGridRowData"
			[columnDefs]="suppliesGridConfig"
			[defaultColDef]="defaultColDef"
			[gridOptions]="gridOptions"
			[localeText]="localeText"
			(gridReady)="onGridReady($event)"
			[getRowId]="getRowId"
			[animateRows]="true">
			<!--to see flashing cells, add [enableCellChangeFlash]="true"-->
		</ag-grid-angular>
	</div>
</div>