<div>
    <h1 align="center">{{ 'New order'| translate }}</h1>
    <h2 mat-dialog-title>{{ 'Details' | translate }}</h2>

    <!--autocomplete dropdown for USERS-->
    <mat-form-field 
    *ngIf="loginService.getUserCode()=='220'">
        <input 
        type="text"
        placeholder="{{ 'User' | translate }}"
        matInput
        [formControl]="userFormControl"
        [matAutocomplete]="auto"
        (keyup)="enableSubmit(userFormControl.value)">
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredUsers | async" [value]="option" (onSelectionChange)='onUserSelected($event)' onchange="">
            {{ option }}
        </mat-option>
        </mat-autocomplete>
    </mat-form-field>
   
    <mat-form-field
    *ngIf="loginService.getUserCode() == '210'">
        <input 
        matInput 
        placeholder="{{'Order date' | translate }}"
        [matDatepicker]="pickerOrderDate" 
        [value]="d_ordine.value"
        [min]="minDate"
        [max]="maxDate"
        [formControl]="d_ordine"
        (dateChange)="onOrderDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerOrderDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerOrderDate></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field
    *ngIf="loginService.getUserCode() == '220'">
        <input 
        matInput 
        placeholder="{{'Order date' | translate }}"
        [matDatepicker]="pickerOrderDate" 
        [value]="d_ordine.value"
        [formControl]="d_ordine"
        (dateChange)="onOrderDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerOrderDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerOrderDate></mat-datepicker>
    </mat-form-field>

    <!--mat-form-field>
        <input
        placeholder="{{'Order number' | translate }}"
        type="number"
        [formControl]="n_ordine"
        (keyup)="enableAddRowAndSubmit(userFormControl.value)"
        matInput>
    </mat-form-field-->

    <p>
        <mat-checkbox 
            labelPosition="before"
            (click)="toggleUrgente()">
            {{ 'Urgent' | translate }}
        </mat-checkbox>
    </p>

    <p>
        <mat-checkbox 
            labelPosition="before"
            (click)="toggleExtra()">
            {{ 'Extra' | translate }}
        </mat-checkbox>
    </p>

    <!--sangueaslno only-->
    <p>
        <mat-checkbox *ngIf="loginService.getUserCode() == '220'"
            labelPosition="before"
            (click)="toggleValidato()">
            {{ 'Validated' | translate }}
        </mat-checkbox>
    </p>

    <!--sangueaslno only-->
    <mat-form-field *ngIf="loginService.getUserCode() == '220' && b_validato.value">
        <input 
        matInput 
        placeholder="{{ 'Validation date' | translate }}"
        [matDatepicker]="picker" 
        [value]="d_validato.value"
        [formControl]="d_validato"
        (dateChange)="onValidationDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input
        placeholder="{{'DDT number' | translate }}"
        type="number"
        [formControl]="n_ddt"
        matInput>
    </mat-form-field>

    <mat-form-field>
        <input 
        matInput 
        placeholder="{{'DDT date' | translate }}"
        [matDatepicker]="pickerDDTDate" 
        [value]="d_ddt.value"
        [min]="minDate"
        [max]="maxDate"
        [formControl]="d_ddt"
        (dateChange)="onOrderDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerDDTDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerDDTDate></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
        <input 
        matInput
        type="text"
        placeholder="{{ 'Notes' | translate }}"
        [formControl]="note">
    </mat-form-field>
</div>

<p 
*ngIf="(b_urgente.value == true && note.value == '')"
style="color: red;">
    {{ 'An urgent order requires valid annotations' | translate }}.
</p>

<!--ORDERROWS-->
<mat-card *ngFor="let orderRow of newOrderRows; let i = index" style="margin-bottom: 20px;">
    <!--mat-card-title>ID: {{ i }}</mat-card-title-->
    <h5><b>{{ 'Product' | translate }}:</b> {{ productIdToDes(orderRow.id_prd) }}</h5>
    <h5><b>{{ 'Row number' | translate }}:</b> {{ orderRow.n_riga }}</h5>
    <h5><b>{{ 'Quantity' | translate }}:</b> {{ orderRow.qta }}</h5>
    <h5
    *ngIf="orderRow.motivazione != null">
        <b>{{ 'Reason' | translate }}:</b> {{ orderRow.motivazione }}
    </h5>
    <h5><b>{{ 'Approved quantity' | translate }}:</b> {{ orderRow.qta_validata }}</h5>
    <h5><b>{{ 'Notes' | translate }}:</b> {{ orderRow.note }}</h5>
    <div mat-dialog-actions align="center">
        <button 
        mat-mini-fab
        matTooltip="{{ 'Edit' | translate }}" 
        color="primary" 
        style="margin: 5px;"
        (click)="openEditOrderRowDialog(orderRow.id, false)">
            <i class="material-icons">edit</i>
        </button>

        <button 
        mat-mini-fab
        matTooltip="{{ 'Delete' | translate }}"
        style="margin: 5px;" 
        color="warn" 
        (click)="openAreYouSureOrderRowDialog(i)">
            <i class="material-icons">delete</i>
        </button>
    </div>
</mat-card>

<div mat-dialog-actions align="center">
    <button 
    mat-mini-fab 
    color="basic" 
    matTooltip="{{ 'Add row' | translate }}"
    [disabled]="!isAddRowEnabled"
    (click)="openEditOrderRowDialog('', true)">
        <i class="material-icons">add</i>
    </button>
    
    <button 
    *ngIf="newOrderRows.length > 0 && ((b_urgente.value == true && note.value != '') || (b_urgente.value == false))" 
    mat-mini-fab
    matTooltip="{{ 'Submit' | translate }}"
    [disabled]="!isSubmitEnabled" 
    color="primary" 
    (click)="onSubmit($event)">
        <i class="material-icons">check</i>
    </button>
    
    <button 
    mat-mini-fab
    color="accent" 
    matTooltip="{{ 'Cancel' | translate }}"
    mat-dialog-close="true">
        <i class="material-icons">close</i>
    </button>
</div>