<hr>
<h1 mat-dialog-title align="center">{{ 'New order'| translate }}</h1>
<hr>
<div style="border: solid 1px grey; border-radius: 5px; margin: 5px; padding: 5px;">
    <h2 mat-dialog-title>{{ 'Details' | translate }}</h2>
    <hr>
    <!--autocomplete dropdown for USERS-->
    <mat-form-field *ngIf="loginService.getUserCode()=='220'">
        <input 
        type="text"
        placeholder="{{ 'User' | translate }}"
        matInput
        [formControl]="userFormControl"
        [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredUsers | async" [value]="option" (onSelectionChange)='onUserSelected($event)'>
            {{ option }}
        </mat-option>
        </mat-autocomplete>
        <!--TODO: this will become a DatePicker-->
    </mat-form-field>
   
    <mat-form-field>
        <input 
        matInput 
        placeholder="{{'Order date' | translate }}"
        [matDatepicker]="pickerOrderDate" 
        [value]="d_ordine.value"
        [formControl]="d_ordine"
        (dateChange)="onOrderDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerOrderDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerOrderDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input
        placeholder="{{'Order number' | translate }}"
        type="number"
        [formControl]="n_ordine"
        matInput>
    </mat-form-field>

    <mat-checkbox 
        labelPosition="before"
        (click)="toggleUrgente()">
        {{ 'Urgent' | translate }}
    </mat-checkbox>
    
    <mat-checkbox 
        labelPosition="before"
        (click)="toggleExtra()">
        {{ 'Extra' | translate }}
    </mat-checkbox>
    
    <!--sangueaslno only-->
    <mat-checkbox *ngIf="loginService.getUserCode() == '220'"
        labelPosition="before"
        (click)="toggleValidato()">
        {{ 'Validated' | translate }}
    </mat-checkbox>
    
    <!--sangueaslno only-->
    <mat-form-field *ngIf="loginService.getUserCode() == '220' && b_validato.value">
        <input 
        matInput 
        placeholder="{{ 'Validation date' | translate }}"
        [matDatepicker]="picker" 
        [value]="d_validato.value"
        [formControl]="d_validato"
        (dateChange)="onValidationDateChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    
    <mat-form-field>
        <input 
        matInput
        type="text"
        placeholder="{{ 'Notes' | translate }}"
        [formControl]="note">
    </mat-form-field>
</div>

    <!--ORDERROWS-->
    <hr *ngIf="orderRowFormControls.length > 0">
    <h1 mat-dialog-title align="center" *ngIf="orderRowFormControls.length > 0">{{ 'Order Rows' | translate }}</h1>
    <hr *ngIf="orderRowFormControls.length > 0">
    <div *ngFor="let orderRow of orderRowFormControls" style="border: solid 1px grey; border-radius: 5px; margin: 5px; padding: 5px;">
        <h2 mat-card-title>Row {{ orderRow.id }}</h2>
        <hr>
        
        <!--autocomplete dropdown for PRODUCTS-->
        <mat-form-field>
            <input 
            type="text"
            placeholder="{{ 'Product' | translate }}"
            matInput
            [formControl]="orderRow.productFormControl"
            [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
            <mat-option 
            *ngFor="
                let option of orderRow.filteredProducts | 
                async
            " 
            [value]="option" 
            (onSelectionChange)='onProductSelected($event, orderRow.id)'
            >
                {{ option }}
            </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <mat-form-field style="margin: 20px">
            <input
            placeholder="{{ 'Quantity' | translate }}"
            type="number"
            [formControl]="orderRow.qta"
            matInput>
        </mat-form-field>

        <!--sangueaslno only-->
        <mat-form-field *ngIf="loginService.getUserCode() == '220'"    
            style="margin: 20px">
            <input
            placeholder="{{ 'Validated quantity' | translate }}"
            type="number"
            [formControl]="orderRow.qta_validata"
            matInput>
        </mat-form-field>

        <!--sangueaslno only-->
        <mat-checkbox *ngIf="loginService.getUserCode() == '220'"
            labelPosition="before"
            (click)="toggleQtaValidata(orderRow.id)">
            {{ 'Validated' | translate }}
        </mat-checkbox>

        <mat-form-field style="margin: 20px">
            <input
            placeholder="{{ 'Notes' | translate }}"
            type="text"
            [formControl]="orderRow.note"
            matInput>
        </mat-form-field>
        
        <br>
        <button mat-raised-button color="warn" style="width: 100%" (click)="deleteRow(orderRow.id)">{{ 'Delete row' | translate }}</button>
    </div>
<!--/mat-dialog-content-->
<div mat-dialog-actions align="center">
    <button mat-raised-button color="accent" (click)="addRow()">{{ 'Add row' | translate }}</button>
    <button mat-raised-button color="primary" (click)="onSubmit($event)">{{ 'Submit' | translate }}</button>
    <button mat-raised-button color="secondary" mat-dialog-close="true">{{ 'Cancel' | translate }}</button>
</div>