<div>
    <button 
    *ngIf="loginService.getUserCode() == '220' || loginService.getUserCode() == '210'"
    mat-mini-fab
    style="margin-right: 5px;"
    color="basic"
    class="mat-elevation-z0"
    matTooltip="{{ 'Attach DDT documents' | translate }}"
    (click)="openEditDdtDialog($event)"
    disabled="{{!uploadEnabled}}">
    <i class="material-icons">attach_file</i>
        <!--i class="material-icons">file_upload</i-->
    </button>

    <!-- INCLUDED IN order-ddt-upload-dialog.component.ts -->
    <!--button 
    *ngIf="true"
    mat-mini-fab
    color="basic"
    class="mat-elevation-z0"
    matTooltip="{{ 'Download document' | translate }}"
    (click)="getOrderDdt(this.data.id)"
    disabled="{{!this.fileExists}}">
        <i class="material-icons">download</i>
    </button-->
</div>
