<div
*ngIf="(loginService.getProfile() == '210' || loginService.getProfile() == '220')">
	<nav
	class="second-nav">
		<h1>
			{{ "Loans" | translate }}
		</h1>
		
		<button
		*ngIf="this.userCode == '210'"
		mat-mini-fab
		matTooltip="{{ 'Add loan' | translate }}" 
		color="primary"
		(click)="openAddLoanDialog()">
			<i class="material-icons">playlist_add</i>
		</button>

		<button 
		mat-mini-fab
		matTooltip="{{ 'Refresh' | translate }}" 
		color="basic"
		(click)="getData()">
			<i class="material-icons">refresh</i>
		</button>

		<input 
		matInput 
		type="number"
		placeholder="{{ 'Reference year' | translate }}" 
		[(ngModel)]="year" 
		style="width: 50px;" 
		(change)="getData()">
	</nav>
	
	<ag-grid-angular
		class="ag-theme-material ag-grid-table"
		[getRowId]="getRowId"
		[rowData]="loanGridRowData"
		[columnDefs]="ordersGridConfig"
		[defaultColDef]="defaultColDef"
		[gridOptions]="gridOptions"
		[alwaysShowHorizontalScroll]="true"
		[alwaysShowHorizontalScroll]="true"
		[localeText]="localeText"
		[animateRows]="true"
		(gridReady)="onGridReady($event)"
		(columnResized)="saveColumnState()"
		(columnVisible)="saveColumnState()"
		(columnPivotChanged)="saveColumnState()"
		(columnRowGroupChanged)="saveColumnState()"
		(columnValueChanged)="saveColumnState()"
		(columnMoved)="saveColumnState()"
		(columnPinned)="saveColumnState()"
		(firstDataRendered)="onFirstDataRendered($event)"
		><!--rimosso (gridReady)="onGridReady($event)"-->
	</ag-grid-angular>
</div>